<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">

    <title>VenetiaCLI</title>
  </head>
  <body style="background:linear-gradient(90deg , #1e68e7 50%, #ffffff 50%);backround-repeat:no-repeat;background-size:cover">

        <div class="flex container bg-light shadow-lg p-3 mb-5 bg-white rounded mt-5">
            <div class="container">
                <div class="row">
                    <div class="col">
                        <img src="<%= image %>" class="rounded " alt="..." style="max-height: 150px;">
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col-lg">
                        <label for="title">Product</label>
                        <h4 id="title"><%= product %></h4>
                    </div>
                    <div class="col-sm">
                        <label for="price">Price</label>
                        <h5 id="price"><%= price %></h5>
                    </div>
                </div>

                <div class="row mt-5">
                    <div class="col">
                        <label for="hint"><%= url %></label>
                        <h3 id="hint" style="text-decoration: none; color: #1e68e7;">Press the extension to proceed to checkout...</h3>
                    </div>
                </div>
            </div>

        </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
  </body>

</html>

