<!DOCTYPE html>
<html>
    <head>
        <title>VenetiaCLI Version Upload</title>
    </head>
    <body>
        <h2>VenetiCLI Version Upload</h2>
        <form action="/version/upload" method="POST" encType="multipart/form-data">
            <input name="venetiaFile" type="file" />
            <input type="text" name="versionNumber">
            <input type="submit" />
        </form>
    </body>
</html>